
<body>
<h1 style="padding-top: 10px; padding-left: -100px">
  Ajouter Un Consultant</h1>
<div class="regform">
  <h1>
    </h1>
</div>
<div class="main">

  <form method="POST">
    <h2 class="nom">
      Nom </h2>
    <input class="company" type="text" name="company">
    <h2 class="name">
      Prenom </h2>
    <input class="company" type="text" name="company">
    <h2 class="name">
      Description </h2>
    <input class="company" type="text" name="company">
    <h2 class="name">
      Email</h2>
    <input class="company" type="email" name="email">
    <h2 class="name">
      Telephone fixe</h2>
    <input class="company" type="text" name="company">
    <h2 class="name">Telephone Mobile</h2>
    <input class="company" type="text" name="company">
    <h2 class="name">
      Fonction</h2>
    <select class="option" name="subject">
      <option disabled="disabled" selected="selected">--Choisir une fonction--</option>
      <option>Consultant Technique</option>
      <option>Consultant Fonctionnel</option>
    </select>
    <h2 class="name">
      Formation</h2>
    <select class="option" name="subject">
      <option disabled="disabled" selected="selected">--Choisir une formation--</option>
      <option>BAC</option>
      <option>BAC+1</option>
      <option>BAC+2</option>
      <option>BAC+3</option>
      <option>BAC+4</option>
      <option>BAC+5</option>
      <option>DUT</option>
      <option>Licence</option>
      <option>Master</option>
      <option>Ingenieur D'etat</option>
    </select>
    <h2 id="coustomer">
      Type Consulant</h2>
    <label class="radio">
      <input class="radio-one" type="radio" checked="checked" name="rdiobtn">
      <span class="checkmark"></span>
      Consultant Interne
    </label>

    <label class="radio">
      <input class="radio-two" type="radio" name="rdiobtn">
      <span class="checkmark"></span>
      Consultant Externe
    </label>

    <button type="submit">Enregistrer</button>


  </form>
</div>
</body>

