<app-consultant-nav-bar (eventEmitter)="OnActionEvent($event)"></app-consultant-nav-bar>
<app-consultant-list [ls]="ls" (eventEmitter)="OnActionEvent($event)"></app-consultant-list>


<!--<div class="container" *ngIf="products$">
  <table class="table">
    <tr>
      <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th><th>Selected</th><th>Available</th>
    </tr>
    <tr *ngFor="let p of products$ | async">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{p.quantity}}</td>
      <td>{{p.selected}}</td>
      <td>{{p.available}}</td>

    </tr>
  </table>


  </div>-->

