<div class="align-content-center">
  <!-- left column -->
  <div class="col-md-11" style="margin-left: 60px">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Ajouter Un nouveau Client</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form">
        <div class="card-body">
         <!-- <div class="form-group">
            <label class="col-sm-2 control-label">Titre</label>
            <div class="col-sm-11 company">
              <input  type="text"  class="form-control" name="titre" id="titre" placeholder="titre projet">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Organisation</label>
            <div class="col-sm-11 company">
              <input  type="text"  class="form-control" name="titre" id="org" placeholder="Enter Organisation Name">
            </div>
          </div>-->
          <div class="form-group">
            <label class="col-sm-4 col-sm-2 control-label" for="Organisation">Organisation</label>
            <input type="text" class="form-control" id="Organisation" placeholder="Enter Organisation Name">
          </div>
          <div class="form-group">
            <label class="col-sm-4 col-sm-2 control-label" for="CodePostal">Code Postal</label>
            <input type="text" class="form-control" id="CodePostal" placeholder="Enter Code Postal">
          </div>
          <div class="form-group">
            <label for="AdressSiege">Adresse Siège</label>
            <input type="text" class="form-control" id="AdressSiege" placeholder="Enter Addresse Siege">
          </div>
          <div class="form-group">
            <label for="AdressLiv">Adresse Livraison</label>
            <input type="text" class="form-control" id="AdressLiv" placeholder="Enter Addresse Livraison">
          </div>
          <div class="form-group">
            <label for="TéléphoneMobile">Téléphone Mobile</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
              </div>
              <input type="text" class="form-control" id="Télephone" placeholder="TelephoneMobile">
            </div>
          </div>
          <div class="form-group">
            <label for="TéléphoneFixe">Téléphone Fixe</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
              </div>
              <input type="text" class="form-control" id="TélephoneFixe" placeholder="TelephoneFixe">
            </div>
          </div>
          <div class="form-group">
            <label for="Fax">Fax</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-fax"></i></span>
              </div>
              <input type="text" class="form-control" id="Fax" placeholder="Fax">
            </div>
          </div>
          <div class="form-group">
            <label for="Pays">Pays</label>
            <input type="text" class="form-control" id="Pays" placeholder="Enter Pays">
          </div>
          <div class="form-group">
            <label for="Ville">Ville</label>
            <input type="text" class="form-control" id="Ville" placeholder="Enter Ville">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Enter your Email">
            </div>
          </div>
          <div class="form-group">
            <label for="RaisonSoc">Raison Sociale</label>
            <input type="text" class="form-control" id="RaisonSoc" placeholder="Enter Raison Sociale">
          </div>



        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>









    <!--/.col (right) -->
  </div>
</div>
