.company{
  left:92px;
  top:-30px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #000000;  }

button{
  background-color: #5390F5;
  display:block;
  margin:20px 0px 0px 20px;
  text-align:center;
  border-radius:12px;
  border:2px solid #366473;
  padding:14px 60px;
  outline:none;
  color:white;
  cursor:pointer;
}
button:hover{
  background-color:#174ea8;
}
.control-label{
  color:turquoise;
  margin-right: 30px;


}
.control-label{
  margin-top: 30px;

}
.form-control{
  display: inline;
  width: 300px;
  margin-top: 30px;

}
#left{
  margin-left: 100px;
}
#left1{
  margin-left: 100px;
}
#ana{
  margin-top: 10px;
}
.input-group-prepend{
  margin-top: 30px;
}
#ana1{
  margin-top: 10px;
}
#ana3{
  margin-top: 10px;
}
#ana2{
  margin-top: -10px;
}
#ana5{
  margin-top: 10px;
}
#ana4{
  margin-top: 10px;
}
#ana6{
  margin-top: 10px;
}
