<div class="container pb-xl-5 py-3" >
  <form #addContactForm="ngForm" (ngSubmit)="saveOrUpdateContact(addContactForm)" *ngIf="contact">
    <div class="form-group" *ngIf="contact">
      <label class="control-label col-sm-2" for="nom">Nom</label>
      <div class="col-sm-4" >
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="contact.nom">
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label>Prenom</label>
      <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="contact.prenom">
    </div>
    <div class="form-group col-sm-4">
      <label>Tel Mobile</label>
      <input type="text" class="form-control"  name="telMobile" [(ngModel)]="contact.tel_mobile">

    </div>
    <div class="form-group col-sm-4">
      <label>Tel telFixe</label>
      <input type="text" class="form-control"  name="telFixe" [(ngModel)]="contact.tel_fixe">
    </div>
    <div class="form-group col-sm-4">
      <label>email</label>
      <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="contact.email"
       >
    </div>
    <div class="form-group col-sm-4">
      <label>Departement</label>
      <input type="text" class="form-control" name="dep" [(ngModel)]="contact.dep"
       >
    </div>
    <div class="form-group col-sm-4">
      <label style="margin:1px ;" class="label">Client :</label>
      <select   name="client" [(ngModel)]="clientId" class="form-control">
        <option  [value]=null  disabled>Selectionner un Client </option>
        <option  *ngFor="let c of ListClient" [value]="c.id">{{c.organisation}}</option>

      </select>
    </div>



    <button class="btn btn-success"  type="submit">Enregistrer</button>
  </form>
</div>

