<div class="row mt" centre>

  <div class="col-lg-8" centre style="padding-left: 500px;padding-top: 50px

">
    <div class="form-panel">
      <h4 class="mb"><i class="fa fa-angle-right"></i>Ajouter Projet</h4>
      <form class="form-horizontal style-form">
        <div class="form-group">
          <label class="col-sm-12 control-label">Titre</label>
          <div class="col-sm-12">
            <input type="text" [(ngModel)]="projet.titre" class="form-control" name="titre" id="titre" placeholder="titre projet">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Description</label>
          <div class="col-sm-auto">
            <input type="text" [(ngModel)]="projet.desc" class="form-control" name="desc" id="desc" placeholder="description du projet" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Date Debut</label>
          <div class="col-sm-14">
            <input type="date" [(ngModel)]="projet.dateDebut" class="form-control" name="dateDebut" id="dateDebut" placeholder="date Debut" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 col-sm-4 control-label">date Reception</label>
          <div class="col-sm-14">
            <input type="date" [(ngModel)]="projet.dateReception" class="form-control" name="dateReception" id="dateReception" placeholder="date Reception" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">date Fin</label>
          <div class="col-sm-14">
            <input type="date" [(ngModel)]="projet.dateFin" class="form-control" name="dateFin" id="dateFin" placeholder="date Fin" >
          </div>
        </div>



        <!--<div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label">type projet</label>
          <div class="col-lg-10">
            <input type="text" [(ngModel)]="projet.type" class="form-control" name="type" id="type" placeholder="type">
          </div>
        </div>-->
        <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label">Type projet</label>
          <div class="col-sm-14">
          <select  class="form-control" [(ngModel)]="projet.type" name="type" id="type">
            <option value="tma">TMA</option>
            <option value="consultation">CONSULTATION</option>
            <option value="appel d'offre">APPEL D'OFFRE</option>
          </select>
          </div>
        </div>

        <!--<div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label">statut</label>
          <div class="col-lg-10">
            <input type="text" [(ngModel)]="projet.statut" class="form-control" name="statut" id="statut" placeholder="statut">
          </div>
        </div>
          <div class="form-group">
            <label class="col-lg-2 col-sm-2 control-label">Active</label>
            <div class="col-lg-10">
              <input type="text" [(ngModel)]="projet.active" class="form-control" name="active" id="active" placeholder="active">
            </div>
          </div>-->
          <div class="form-group">
            <label class="col-lg-2 col-sm-2 control-label">Budget</label>
            <div class="col-sm-14">
              <input type="number" [(ngModel)]="projet.budget" class="form-control" name="budget" id="budget" placeholder="budget">
            </div>
          </div>

          <!--<div class="form-group">
            <label class="col-lg-2 col-sm-2 control-label">Client</label>
            <div class="col-lg-10">
              <input type="number" [(ngModel)]="projet.clientId" class="form-control" name="clientId" id="clientId" placeholder="clientId">
            </div>
          </div>-->

        <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label">Client :</label>
          <div class="col-sm-14">
          <select   name="client"  [(ngModel)]="projet.clientId" class="form-control"
                    name="clientId" id="clientId">
            <option  [value]=null disabled >Selectionner un Client </option>
            <option  *ngFor="let c of clients" [value]="c.id">{{c.organisation}}</option>

          </select>
          </div>
        </div>
          {{projet | json}}

          <div class="row" style="">
            <div class="col-lg-4">
              <button class="btn-save" (click)="createProjet()">Enregistrer</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

