<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetAllFicheTemps()" class="btn btn-sm btn-outline-info ml-2"><span><i class="fas fa-list"></i> </span></button>
    </li>
  </ul>
  <ul class="navbar navbar-nav ml-auto"><!--
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
        <input ngModel name="keyword"  type="text">
        <button class="btn btn-sm btn-outline-info ml-2">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </li>-->
  </ul>
</nav>

<div class="container" >
  <div class="activity-card" >
    <h3>List Fiche Temps</h3>
    <div class="table-responsive">
      <table *ngIf="fiche" class="table" >
        <thead>
        <tr>
          <th>ID</th><th>Username</th><th>Année</th><th>Mois</th><th>Statut</th><th>    Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of fiche._embedded.ficheTemps">
          <td>{{c.id}}</td>
          <td>{{c.username}}</td>
          <td>{{c.annee}}</td>
          <td>{{c.mois}}</td>
          <td>{{c.statut}}</td>


          <td>
            <button class="btn btn-outline-success" (click)="onSelect(c)"  style="margin-right: 10px">
              <span><i class="fas fa-pencil-alt" ></i></span>
            </button>
            <button class="btn btn-info" style="background-color: turquoise;margin-right: 10px" (click)="onDetail(c)">
              <span><i class="fas fa-info"></i></span>
            </button>

          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--<div class="container" *ngIf="products$">
  <table class="table">
    <tr>
      <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th><th>Selected</th><th>Available</th>
    </tr>
    <tr *ngFor="let p of products$ | async">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{p.quantity}}</td>
      <td>{{p.selected}}</td>
      <td>{{p.available}}</td>

    </tr>
  </table>


  </div>-->











<!--
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <ul *ngIf="ls" class="list-group">
      <li *ngFor="let c of ls._embedded.clients"
          class="list-group-item"
          (click)="onGetContacts(c)"
      >
     {{c.organisation}}
      </li>

    </ul>


    </div>




  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul *ngIf="ls" class="list-group">
        <li *ngFor="let v of contacts._embedded.contacts"
            class="list-group-item"
        >
          {{v.nom}}
        </li>


      </ul>


    </div>




  </div>
</div>

-->
