<tr *ngIf="consutant">
  <td>{{consutant.id}}</td>
  <td>{{consutant.nom}}</td>
  <td>{{consutant.prenom}}</td>
  <td>{{consutant.email}}</td>
  <td>{{consutant.telMobile}}</td>
  <td>{{consutant.fonction}}</td>
  <td>{{consutant.type}}</td>
  <td>
    <!--<button class="btn btn-danger" (click)="onDelete(consutant)">
      <span class="fa fa-trash-o"></span>
    </button>-->
  </td>
  <td>
    <button class="btn btn-outline-success" (click)="onEdit(consutant)" style="margin-right: 10px">
      <span><i class="fas fa-pencil-alt"></i></span>
    </button>
    <button class="btn btn-info" style="background-color: turquoise" (click)="onDetail(consutant)">
      <span><i class="fas fa-info"></i></span>
    </button>
  </td>
  <!--<td>
    <button class="btn btn-info" style="background-color: turquoise" (click)="onDetail(consutant)">
      Detail
    </button>
  </td>-->
</tr>
