<tr *ngIf="consutant">
  <td>{{consutant.id}}</td>
  <td>{{consutant.nom}}</td>
  <td>{{consutant.prenom}}</td>
  <td>{{consutant.email}}</td>
  <td>{{consutant.telMobile}}</td>
  <td>{{consutant.fonction}}</td>
  <td>{{consutant.type}}</td>
  <td>
    <button class="btn btn-danger" (click)="onDelete(consutant)">
      <span class="fa fa-trash-o"></span>
    </button>
  </td>
  <td>
    <button class="btn btn-info" (click)="onEdit(consutant)" style="margin-left: 10px">
      Modifier
    </button>
  </td>
  <td>
    <button class="btn btn-info" style="margin-left: 10px">
      Detail
    </button>
  </td>
</tr>
