.company{
  line-height: 0px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #000000;  }
.control-label{
  color:turquoise;
  margin-right: 50px;


}

#left{
  margin-left: 100px;
}
#left1{
  margin-left: 100px;
}
#left2{
  margin-left: 60px;
}
#left3{
  margin-left: 80px;
}
#self{
  margin-right: 12px;
}
.form-control{
  display: inline;
  width: 250px;
  margin-top: 30px;

}
.input-group-prepend{
  margin-top: 30px;
}

#ana{
  margin-top: 10px;
}
#ana1{
  margin-top: 10px;
}
#ana2{
  margin-top: 10px;
}
#ana3{
  margin-top: 10px;
}
#ana4{
  margin-top: 10px;
}
#ana5{
  margin-top: 10px;
}

.control-label{
  margin-top: 35px;

}


button{
  background-color: #5390F5;
  display:block;
  margin:20px 0px 0px 20px;
  text-align:center;
  border-radius:12px;
  border:2px solid #366473;
  padding:14px 60px;
  outline:none;
  color:white;
  cursor:pointer;
}
button:hover{
  background-color:#174ea8;
}
.btn1{

  margin-left: 450px;
  margin-top: -30px;
}
.btn2{

  margin-left: 250px;
  margin-top: -10px;
  background-color: #f85305;
}
