<div class="container pb-xl-5 py-3" *ngIf="consultantFormGroup">
  <form class="form-horizontal" [formGroup]="consultantFormGroup">
    <div class="form-group">
      <label class="control-label col-sm-2" for="nom">Nom</label>
      <div class="col-sm-4">
      <input type="text" class="form-control" formControlName="nom" id="nom"
             [ngClass]="{'is-invalid':submitted && consultantFormGroup.controls.nom.errors}">
      <div *ngIf="submitted && consultantFormGroup.controls.nom.errors" class="invalid-feedback">
        <div *ngIf="consultantFormGroup.controls.nom.errors.required">Name is Required</div>
      </div>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label>Prenom</label>
      <input type="text" class="form-control" formControlName="prenom"
             [ngClass]="{'is-invalid':submitted && consultantFormGroup.controls.prenom.errors}">
      <div *ngIf="submitted && consultantFormGroup.controls.prenom.errors" class="invalid-feedback">
        <div *ngIf="consultantFormGroup.controls.prenom.errors.required">prenom is Required</div>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label>Type</label>
      <select ngModel class="form-control" formControlName="type">
        <option value="interne">CONSULTANT INTERNE</option>
        <option value="externe">CONSULTANT EXTERNE</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label>Description</label>
      <input type="text" class="form-control" formControlName="desc"
             [ngClass]="{'is-invalid':submitted && consultantFormGroup.controls.desc.errors}">
      <div *ngIf="submitted && consultantFormGroup.controls.desc.errors" class="invalid-feedback">
        <div *ngIf="consultantFormGroup.controls.desc.errors.required">desc is Required</div>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label>Tel Mobile</label>
      <input type="text" class="form-control" formControlName="telMobile"
             [ngClass]="{'is-invalid':submitted && consultantFormGroup.controls.telMobile.errors}">
      <div *ngIf="submitted && consultantFormGroup.controls.telMobile.errors" class="invalid-feedback">
        <div *ngIf="consultantFormGroup.controls.telMobile.errors.required">telMobile is Required</div>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label>Tel Fixe</label>
      <input type="text" class="form-control" formControlName="telFixe"
             [ngClass]="{'is-invalid':submitted && consultantFormGroup.controls.telFixe.errors}">
      <div *ngIf="submitted && consultantFormGroup.controls.telFixe.errors" class="invalid-feedback">
        <div *ngIf="consultantFormGroup.controls.telFixe.errors.required">telFixe is Required</div>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label>email</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Enter email"
             [ngClass]="{'is-invalid':submitted && consultantFormGroup.controls.email.errors}">
      <div *ngIf="submitted && consultantFormGroup.controls.email.errors" class="invalid-feedback">
        <div *ngIf="consultantFormGroup.controls.email.errors.required">email is Required</div>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label>Fonction</label>
      <select ngModel class="form-control" formControlName="fonction">
        <option value="consultant technique">CONSULTANT TECHNIQUE</option>
        <option value="consultant fonctionnel">CONSULTANT FONCTIONNEL</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label>Formation</label>
      <select ngModel class="form-control" formControlName="formation">
        <option value="bac">BAC</option>
        <option value="bac+1">BAC+1</option>
        <option value="bac+2">BAC+2</option>
        <option value="bac+3">BAC+3</option>
        <option value="bac+4">BAC+4</option>
        <option value="bac+5">BAC+5</option>
      </select>
    </div>
    <button class="btn btn-success" (click)="onSaveConsultant()">Enregistrer</button>
  </form>
</div>

