<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/consultant">Consultants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/client">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projets">Projets</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/addprojet">Ajouter Projet</a>
        <a class="dropdown-item" routerLink="/addphase">Ajouter Phase</a>
      </div>
    </li>
  </ul>
</nav>
