.main-sidebar {
  height: 5px;

}

#col {
  background-color: white;
}

.sidebar {
  height: 5px;
}

.nav {
  height: 100%;


}

.nav-link {
  background-color: turquoise;
}

.nav-icon {
  color: black;
}

#mouad {
  background-color: white;
  height: 70px;
}

#ba3 {
  height: 100px;
  display: block;
}

.wrapper, .content-wrapper {
  background-color: aliceblue;
  height: 115%;

}

.brand-link {
  height: 70px;
  padding-left: 35px;
  padding-top: 20px;

}

.brand-image {
  width: 150px;

}
