<div class="align-content-center">
  <!-- left column -->
  <div class="col-md-11" style="margin-left: 60px ">
    <!-- general form elements -->
    <div class="card card-primary" *ngIf="clientFormGroup">
      <div class="card-header" style="background-color: turquoise">
        <h3 class="card-title">Modifier Un Client</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form" [formGroup]="clientFormGroup">
        <div class="row">

          <div class="card-body">
            <!-- <div class="form-group">
               <label class="col-sm-2 control-label">Titre</label>
               <div class="col-sm-11 company">
                 <input  type="text"  class="form-control" name="titre" id="titre" placeholder="titre projet">
               </div>
             </div>
             <div class="form-group">
               <label class="col-sm-2 control-label">Organisation</label>
               <div class="col-sm-11 company">
                 <input  type="text"  class="form-control" name="titre" id="org" placeholder="Enter Organisation Name">
               </div>
             </div>-->

            <div class="form-group">
              <div class="form-inline">
                <label class="control-label  col-sm-2 " for="Organisation" >Organisation</label>
                <input type="text" class="form-control" formControlName="organisation" style="width: 270px" id="Organisation" placeholder="Enter Organisation Name"
                       [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.organisation.errors}">

                <label class="control-label  col-sm-2 "  for="CodePostal">Code Postal</label>
                <input type="text" class="form-control"  formControlName="codePostal" id="CodePostal" style="margin-left: 20px;width: 300px" placeholder="Enter Code Postal"
                       [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.codePostal.errors}">
              </div>
              <!--<div class="form-group">
                <label class="col-sm-4 col-sm-2 control-label" for="CodePostal">Code Postal</label>
                <input type="text" class="form-control" id="CodePostal" placeholder="Enter Code Postal">
              </div>-->
              <div class="form-inline" style="margin-top: 25px">
                <label class="control-label col-sm-2" for="AdressSiege">Adresse Siège</label>
                <input type="text" class="form-control"  formControlName="adressSiege" style="width: 270px" id="AdressSiege" placeholder="Enter Addresse Siege">
                <label class="control-label col-sm-2" style="margin-left: 20px" for="adressLiv">Adresse Livraison</label>
                <input type="text" class="form-control" style="width: 300px"  formControlName="adressLiv" id="adressLiv" placeholder="Enter Addresse Livraison"
                       [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.adressLiv.errors}">
              </div>
              <!--<div class="form-group">

              </div>-->



              <div class="form-inline" style="margin-top: 25px">
                <label class="control-label col-sm-2" style="margin-left: -10px;margin-right: 10px">Tél Mobile</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                  <input type="text" class="form-control"  formControlName="telMobile" style="width: 230px" id="Télephone" placeholder="TelephoneMobile"
                         [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.telMobile.errors}">
                </div>
                <label class="control-label col-sm-2" style="margin-left: -20px;margin-right: 40px">Tél Fixe</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                  <input type="text" class="form-control"  formControlName="telFixe" style="width: 260px" id="TélephoneFixe" placeholder="TelephoneFixe"
                         [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.telFixe.errors}">
                </div>
              </div>
              <!--<div class="form-group">
                <label>Téléphone Fixe</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" id="TélephoneFixe" placeholder="TelephoneFixe">
                </div>
              </div>-->
              <div class="form-inline" style="margin-top: 25px">
                <label class="control-label col-sm-2" style="margin-left: -35px;margin-right: 35px" for="Fax">Fax</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-fax"></i></span>
                  </div>
                  <input type="text" style="width: 230px" formControlName="telFaxe"  class="form-control" id="Fax" placeholder="Fax"
                         [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.telFaxe.errors}">
                </div>
                <label class="control-label col-sm-2" style="margin-left: -20px;margin-right: 40px">Email</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  </div>
                  <input type="email"  style="width: 260px;" formControlName="email"  class="form-control" placeholder="Enter your Email"
                         [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.email.errors}">
                </div>
              </div>
              <div class="form-inline" style="margin-top: 25px">
                <label class="control-label col-sm-2" style="margin-left: -30px;margin-right: 30px" for="Pays">Pays</label>
                <input type="text" style="width: 270px" formControlName="pays"  class="form-control" id="Pays" placeholder="Enter Pays"
                       [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.pays.errors}">
                <label class="control-label col-sm-2" style="margin-left: -20px;margin-right: 40px" for="Ville">Ville</label>
                <input type="text" style="width: 300px"  formControlName="ville" class="form-control" id="Ville" placeholder="Enter Ville"
                       [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.ville.errors}">
              </div>
              <!--<div class="form-group">
                <label for="Ville">Ville</label>
                <input type="text" class="form-control" id="Ville" placeholder="Enter Ville">
              </div>-->
              <!--<div class="form-group">
                <label >Email</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  </div>
                  <input type="email" class="form-control" placeholder="Enter your Email">
                </div>
              </div>-->

              <div class="form-inline" style="margin-top: 25px">
                <label class="control-label  col-sm-2 " for="RaisonSoc" >Raison Sociale</label>
                <input type="text" class="form-control" formControlName="raisonSoc" style="width: 270px" id="RaisonSoc" placeholder="Enter Raison Sociale"
                       [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.raisonSoc.errors}">
                <label class="control-label  col-sm-2 "  for="type">Type</label>
                <select class="form-control" style="margin-left: 20px;width: 300px" formControlName="type" id="type">
                  <option value="" disabled selected hidden>--Choisir le type de Client--</option>
                  <option value="client1">CLIENT 1</option>
                  <option value="client2">CLIENT 2</option>
                </select>

                <div>

                </div>
              </div>
              <div class="form-inline" style="margin-top: 25px">
                <label class="control-label  col-sm-2 " for="chefProjet" >Chef Projet</label>
                <input type="text" class="form-control" formControlName="chefProjet" style="width: 270px" id="chefProjet" placeholder="Enter le nom du Chef de projet"
                       [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.chefProjet.errors}">
                <label class="control-label  col-sm-2 "  for="fonction">Fonction</label>
                <input type="text" class="form-control"  formControlName="fonction" id="fonction" style="margin-left: 20px;width: 300px" placeholder="Enter la fonction"
                       [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.fonction.errors}">
              </div>
              <div class="form-inline" style="margin-top: 25px">
                <label class="control-label  col-sm-2 " for="numContrat" >Numéro de Contrat</label>
                <input type="text" class="form-control" formControlName="numContrat" style="width: 270px" id="numContrat" placeholder="Enter le Numero de Contrat"
                       [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.numContrat.errors}">
                <label class="control-label  col-sm-2 "  for="urlSoc">URL Sociète</label>
                <input type="text" class="form-control"  formControlName="urlSoc" id="urlSoc" style="margin-left: 20px;width: 300px" placeholder="Enter urlSoc"
                       [ngClass]="{'is-invalid':submitted && clientFormGroup.controls.urlSoc.errors}">
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" style="background-color: turquoise;margin-left: 370px" class="btn btn-primary"
                  (click)="onEditClinet()">Enregistrer</button>
        </div>
      </form>
    </div>









    <!--/.col (right) -->
  </div>
</div>
