<div class="row">
  <div class="col-md-11" style="margin-left: 60px;margin-top: 60px" >
    <div class="card card-primary">
      <div class="card-header">
        <h1 class="card-title">Ajouter Une nouvelle phase</h1>
      </div>
      <div class="card-body">
  <div class="col-lg-12">
    <div class="form-panel">
      <form class="form-horizontal style-form">
        <div class="form-group">
          <label class="col-sm-12 control-label">Titre</label>
          <div class="col-sm-11 company">
            <input type="text" [(ngModel)]="phase.titre" class="form-control" name="titre" id="titre" placeholder="titre projet">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-12 control-label">Description</label>
          <div class="col-sm-11 company">
            <input type="text" [(ngModel)]="phase.desc" class="form-control" name="desc" id="desc" placeholder="description du projet" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12 control-label">Date Debut</label>
          <div class="col-sm-11 company">
            <input type="date" [(ngModel)]="phase.dateDebut" class="form-control" name="dateDebut" id="dateDebut" placeholder="date Debut" >
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-12 control-label">date Fin</label>
          <div class="col-sm-11 company">
            <input type="date" [(ngModel)]="phase.dateFin" class="form-control" name="dateFin" id="dateFin" placeholder="date Fin" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12 control-label">Code Phase</label>
          <div class="col-sm-11 company">
            <input type="text" [(ngModel)]="phase.code" class="form-control" name="code" id="code" placeholder="code" >
          </div>
        </div>




        <div class="form-group">
          <label class="col-lg-12 control-label">Nombre Jour</label>
          <div class="col-lg-11 company">
            <input type="number" [(ngModel)]="phase.nbrJour" class="form-control" name="nbrJour" id="nbrJour" placeholder="nombre Jour">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-12 control-label">Projet :</label>
          <div class="col-lg-11 company">
            <select class="form-control" [(ngModel)]="projetId"
                      name="projetId" id="projetId">
              <option  [value]=null disabled >Selectionner un Projet </option>
              <option  *ngFor="let c of projets" [value]="c.id">{{c.titre}}</option>

            </select>
          </div>
        </div>


        <div class="row" style="">
          <div class="col-lg-4" style="margin-left: 450px;margin-top: -30px">
            <button class="btn-save" (click)="createPhase()">Enregistrer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

  </div>
</div>
</div>
