<div class="wrapper" *ngIf="consultant">
  <div class="left" style="background-color: turquoise">
    <br>
    <br>
    <h3 style="font-family: 'Times New Roman';margin-top: 150px">{{consultant.prenom}} {{consultant.nom}} </h3>
    <h2 style="font-family: 'Poppins', sans-serif">{{consultant.fonction}}</h2>

  </div>

  <div class="right">

    <div class="info">
      <h3 style="color: turquoise;font-family: 'Poppins', sans-serif"> Informations Consultants</h3>
      <div class="info_data" style="margin-top: 100px">
        <div class="data">
          <h4>Formation</h4>
          <p><B>{{consultant.formation}}</B></p>
        </div>
        <div class="data">
          <h4>Téléphone Mobile</h4>
          <p><B>{{consultant.telMobile}}</B></p>
        </div>
        <div class="data">
          <h4>Email</h4>
          <p><B> {{consultant.email}}</B></p>
        </div>

      </div>
    </div>

    <div class="projects">

      <div class="info_data" style="margin-top: 100px">
        <div class="data">
          <h4>Téléphone Fixe</h4>
          <p><B>{{consultant.telFixe}}</B></p>
        </div>
        <div class="data">
          <h4>Fonction</h4>
          <p><B>{{consultant.fonction}}</B></p>
        </div>
        <div class="data">
          <h4>Type Consultant</h4>
          <p><B>{{consultant.type}}</B></p>
        </div>


      </div>
      <div class="info_data" style="margin-top: 50px">
        <div class="data">
          <h4>Description</h4>
          <p><B>{{consultant.desc}}</B></p>
        </div>
        <div class="data" >
          <a class="btn" style="margin-left: 50px;margin-top: 0px"  routerLink="/consultant"><span><i class="fas fa-backward"></i> </span>
          </a>
        </div>
      </div>

    </div>


  </div>


</div>
